################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prestamos.api/.vs/prestamos.api/FileContentIndex/c262a197-a82f-44e5-a8ed-ea2c470d2de7.vsidx
/prestamos.api/.vs/prestamos.api/FileContentIndex/df6b01f4-dc96-455e-8449-479236cd69ff.vsidx
*.vsidx
/prestamos.api/.vs/prestamos.api/DesignTimeBuild/.dtbcache.v2
/prestamos.api/.vs/prestamos.api/v17/.futdcache.v2
/prestamos.api/.vs/prestamos.api/v17/.suo
/prestamos.api/.vs/ProjectEvaluation/prestamos.api.metadata.v7.bin
/prestamos.api/.vs/ProjectEvaluation/prestamos.api.projects.v7.bin
/prestamos.api/bin/*
/prestamos.api/obj/*
/prestamos.api/bin/Debug/net8.0/prestamos.api.dll
/prestamos.api/bin/Debug/net8.0/prestamos.api.exe
/prestamos.api/bin/Debug/net8.0/prestamos.api.pdb
/prestamos.api/obj/Debug/net8.0/ref/prestamos.api.dll
/prestamos.api/obj/Debug/net8.0/refint/prestamos.api.dll
/prestamos.api/obj/Debug/net8.0/apphost.exe
/prestamos.api/obj/Debug/net8.0/prestamos.api.AssemblyInfo.cs
/prestamos.api/obj/Debug/net8.0/prestamos.api.AssemblyInfoInputs.cache
/prestamos.api/obj/Debug/net8.0/prestamos.api.csproj.CoreCompileInputs.cache
/prestamos.api/obj/Debug/net8.0/prestamos.api.dll
/prestamos.api/obj/Debug/net8.0/prestamos.api.pdb
/prestamos.api/obj/Debug/net8.0/prestamos.api.sourcelink.json
/prestamos.api/obj/prestamos.api.csproj.nuget.dgspec.json
/prestamos.api/obj/project.assets.json
/prestamos.api/obj/project.nuget.cache
/prestamos.api/obj/Debug/net8.0/prestamos.api.csproj.FileListAbsolute.txt
