################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prestamos.api/.vs/prestamos.api/FileContentIndex/c262a197-a82f-44e5-a8ed-ea2c470d2de7.vsidx
/prestamos.api/.vs/prestamos.api/FileContentIndex/df6b01f4-dc96-455e-8449-479236cd69ff.vsidx
*.vsidx
