<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e13d3479-fb36-4df6-990f-d5a294cfedd9/resourceGroups/grupo-recursos/providers/Microsoft.Web/sites/lenderap</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lenderap.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>b553521d-b9a5-49fd-b08e-8ff52775da9a</ProjectGuid>
    <PublishUrl>https://lenderap.scm.azurewebsites.net/</PublishUrl>
    <UserName>$lenderap</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>